body {
    background-color: #f0af59;
}

.menu {
    background-color: #b97c47 !important;
}

.menu ul li a {
    color: #ebd7be;
}

.banner {
    background-image: url("../Assets/anzacbiscuits-background.jpg");
}

.other img,
.other iframe {
    border: 10px solid #b97c47;
}

.body {
    color: #5a3a0f;
}