body {
    background-color: #f3e6c6;
}

.menu {
    background-color: #f1e09a !important;
}

.menu ul li a {
    color: #c7ab08;
}

.banner {
    background-image: url("../Assets/lemonadescones-background.jpg");
}

.other img,
.other iframe {
    border: 10px solid #f1e09a;
}

.body {
    color: #6d5f11;
}