/* Write your CSS here */

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    overflow-x: hidden;
}

* {
    margin: 0;
}


/* Overide all styles with a margin, including body to allow
the menu to touch the top of the page */

.menu {
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    padding: 10px 20px 10px 0px;
    background-color: #2f7230;
    margin: 0 !important;
}

.banner {
    text-align: center;
    padding: 150px;
    background-image: url("../Assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner h1 {
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ffffff;
    font-size: 48px;
}

.cover {
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: calc(48px + 310px);
    background-color: #1a381a;
}

.menu ul {
    position: relative;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.menu ul li {
    vertical-align: middle;
    display: inline;
    margin: 10px 30px;
}

.menu ul li a {
    font-size: 25px;
    position: relative;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    transition: 0.5s color;
    text-decoration: none;
}

.menu ul li a:hover {
    font-size: 25px;
    position: relative;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #1a381a;
    transition: 0.5s color;
    text-decoration: none;
}

.menu img {
    margin-left: 50px;
    display: inline-block;
    height: 100px;
}

.selected {
    color: #1a381a !important;
}

.body {
    font-family: "Open sans", sans-serif;
}