body {
    background-color: #F5A02C;
}

.menu {
    background-color: #ce0e08 !important;
}

.menu ul li a {
    color: #f5f0f0;
}

.banner {
    background-image: url("../Assets/pizzapinwheels-background.png");
}

.other img,
.other iframe {
    border: 10px solid #ce0e08;
}

.body {
    color: #571f1e;
}