body {
    background-color: #CDC4A0;
}

.menu {
    background-color: #CFB793 !important;
}

.menu ul li a {
    color: #75500A;
}

.banner {
    background-image: url("../Assets/fried-rice-background.jpg");
}

.other img,
.other iframe {
    border: 10px solid #CFB793;
}

.body {
    color: #573c09;
}